<div id="<%= dom_id oficina %>">
  <p>
    <strong>Cliente:</strong>
    <%= oficina.cliente %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= oficina.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= oficina.telefone %>
  </p>

  <p>
    <strong>Dataentrada:</strong>
    <%= oficina.dataEntrada %>
  </p>

  <p>
    <strong>Datasaida:</strong>
    <%= oficina.dataSaida %>
  </p>

  <p>
    <strong>Valorservico:</strong>
    <%= oficina.valorServico %>
  </p>

  <p>
    <strong>Concluido:</strong>
    <%= oficina.concluido %>
  </p>

</div>
